@page
@model IndexModel


<div class="text-center">
    <h1 class="display-4">King John's Golf Club</h1>
</div>
<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Images/firstGolf.jpg" class="img-fluid">
            <div class="carousel-caption d-none d-md-block">
                <h5>Céad Míle Fáilte</h5>
                <p>King Johns Golf Club</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/Images/secondGolf.jpg" class="img-fluid" >
            <div class="carousel-caption d-none d-md-block">
                <h5>The Course</h5>
                <p>Experience Europes voted No.1 golf course</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/Images/thirdGolf.jpg" class="img-fluid">
            <div class="carousel-caption d-none d-md-block">
                <h5>The Club house</h5>
                <p>King Johns Castle Golf Club House is located beside the 18th hole and is open daily serving a selection of light snacks and drinks</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Welcome to King Johns Golf Club, where the love for golf meets a picturesque environment.</p>
    <p>King Johns Golf Club is a premier 18-hole golf course located in the heart of the stunning Irish countryside. Our golf course is designed to challenge golfers of all levels, with a combination of tight fairways, well-manicured greens, and tricky bunkers, making it a true test of skill and accuracy.</p>
  
</div>


