<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] King John's Golf Club</title>
    <!-- Styling plugins-->
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/fontawsome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L00177804_Golf.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.min.css" />

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" asp-page="../Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Memberships/Index">Members</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Booking section
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-page="/MemberBookings/Create">Make a Booking</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/MemberBookings/DeleteModify">Cancel a Booking</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/MemberBookings/Index">View Bookings</a>
                    </div>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link" asp-page="/Memberships/Create">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <div class="container-fluid">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
</body>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - L00177804-JOHN FITZGERALD- <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
<!-- Jscript plugins-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</html>