@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div div class="container-md" style="padding-top: 50px">
    <h1>@ViewData["Title"]</h1>
<div class="text-justify">
    <p class="lead" style="padding-top:20px">
        We place a high importance on maintaining user privacy and data security.
        To better serve our members and visitors and enhance our services, we gather pertinent personal information from them.
        Your name, email address, phone number, and other details required to handle membership or reservation inquiries may be included in this information.
    </p>
    <p class="lead">
        Your personal information will only be used by us to fulfil your service requests and keep in touch with you regarding your membership or bookings.
        Unless as required by law, we never divulge any of your personal information to merchants or other third parties.
    </p>
    <p class="lead">
        We take adequate security precautions to guard against unauthorised access, alteration, or destruction of your personal information in order to maintain its security.
        In order to be in compliance with the most recent data protection requirements, we regularly evaluate and update our privacy practises.
    </p>
</div>
</div>


