html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.carousel-inner {

    width: 100%;
    object-fit: cover;
}
.bill{
    max-height: 450px;
}
th.sortable i {
    margin-left: 0.25rem;
    opacity: 0.5;
    transition: opacity 0.2s;
}

th.sortable:hover i {
    opacity: 1;
}

th.sortable.asc i::before {

    content: "\2191"; /* Unicode character for up arrow */
}

th.sortable.desc i::before {
   
    content: "\2193"; /* Unicode character for down arrow */
}
.input-group-text i {
    font-size: 1.5rem;
}
.form-control {
    border-radius: 10px;
}
.input-group-text {
    align-items: center;
}
.form-group {
    padding: 5px;
}
.about-section {
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.about-section h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.about-section p {
    font-size: 16px;
    text-align:center;
    line-height: 1.5;
    margin-bottom: 20px;
}

