@page
@model L00177804_Golf.Pages.Memberships.CreateModel

@{
    ViewData["Title"] = "Register at";
}
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Your Journey <br />
                        <span class="text-primary">begins here</span>
                    </h1>
                    <p>
                        Registration is free, complete the form
                        and Hit'Em long and straight.
                    </p>
                    <!-- Bill murrays Picture-->
                    <img src="/Images/billMurray.jpg" class="img-fluid" style="height:340px">
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form method="post">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input asp-for="Membership.FirstName" class="form-control" />
                                            <label class="form-label" for="form3Example1">First name</label>
                                            <span asp-validation-for="Membership.FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input asp-for="Membership.LastName" class="form-control" />
                                            <label class="form-label" for="form3Example2">Last name</label>
                                            <span asp-validation-for="Membership.LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Gender input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="genderSelect">Gender</label>
                                    <select asp-for="Membership.Gender" class="form-control" id="genderSelect">
                                        <option value="">Select gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Non-binary">Non-binary</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="Membership.Gender" class="text-danger"></span>
                                </div>


                                <!-- HandiCap input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Membership.Handicap" class="form-control" />
                                    <label class="form-label" for="form3Example3">Handicap</label>
                                    <span asp-validation-for="Membership.Handicap" class="text-danger"></span>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Membership.Email" class="form-control" />
                                    <label class="form-label" for="form3Example3">Email address</label>
                                    <span asp-validation-for="Membership.Email" class="text-danger"></span>
                                </div>

                                <!-- Phone input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Membership.Phone" class="form-control" />
                                    <label class="form-label" for="form3Example4">Phone</label>
                                    <span asp-validation-for="Membership.Phone" class="text-danger"></span>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL POP-UP FOR ERROR-->

    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-5" id="ModalLabel">Hello</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align:center">
                    @Model.AlertMess
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
}
<!-- Section: Design Block -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (!string.IsNullOrEmpty(Model.AlertMess))
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#Modal").modal("show")
            };
        </script>
    }
}
