@page
@model L00177804_Golf.Pages.MemberBookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.FirstName" class="control-label"></label>
                <input asp-for="Booking.FirstName" class="form-control" />
                <span asp-validation-for="Booking.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.LastName" class="control-label"></label>
                <input asp-for="Booking.LastName" class="form-control" />
                <span asp-validation-for="Booking.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingTimeOnly" class="control-label"></label>
                <input type="text" id="timepicker" input asp-for="Booking.BookingTimeOnly" class="form-control" />
                <span asp-validation-for="Booking.BookingTimeOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingDateOnly" class="control-label"></label>
                <input type="text" id="datepicker" asp-for="Booking.BookingDateOnly" class="form-control" />
                <span asp-validation-for="Booking.BookingDateOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#datepicker').datepicker({
                showOptions: { speed: 'fast' },
                changeMonth: false,
                changeYear: false,
                dateFormat: 'dd/mm/yy',
                gotoCurrent: true
            });
            $('#timepicker').timepicker({
                step: 15,
                minTime: '07:00 AM', // set minimum time to 9am
                maxTime: '07:00 PM'   // set maximum time to 5pm
            });
        });
    </script>
}
